/* Layout */
body {
  background: url(../img/header_bg.jpg) repeat-x center top;
}
header {
  height: 327px;
}
nav {
  background-color: #f6fdff;
}
#title {
  background-color: #eaf7fd;
}
#content .container {
  position: relative;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
#cont_left {
  float: left;
  width: 250px;
}
#cont_center {
  margin-right: 250px;
  overflow: hidden;
  min-height: 1300px;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
#cont_right {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
}
footer {
  border-top: 1px solid #dbdbdb;
}

/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* Header */
header .header_menu {
  text-align: right;
}
header .header_menu a {
  display: inline-block;
  padding: 8px 0 6px 10px;
  color: #fff;
  font-family: "Abel", sans-serif;
  transition: color 0.3s ease;
}
header .header_menu a:hover {
  color: #ccc;
}

header .header_tit {
  text-align: center;
  margin-top: 55px;
  font-family: "Abel", sans-serif;
}
header .header_tit h1 {
  display: inline-block;
  padding: 5px 30px;
  text-transform: uppercase;
  background-color: #51b0dc;
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 900;
  transition: box-shadow 0.25s ease-in-out;
}
header .header_tit h1:hover {
  box-shadow: inset -9em 0 0 0 #257fac, inset 9em 0 0 0 #257fac;
}
header .header_tit a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4a9abf;
  color: #fff;
  margin-top: -7px;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  transition: box-shadow 0.25s ease-in-out;
}
header .header_tit a:hover {
  box-shadow: inset 0 0 0 5px rgba(75, 154, 191, 0.9),
    inset 0 0 0100px rgba(0, 0, 0, 0.1);
}

header .header_icon {
}
header .header_icon ul {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 45px;
}
header .header_icon li {
  display: inline;
  margin: 0 2px;
}
header .header_icon li a {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: #3192bf;
  font-size: 35px;
  line-height: 55px;
  transition: all 0.3s ease;
}
header .header_icon li span {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translate(-50%);
  font-size: 12px;
  background-color: #3192bf;
  padding: 3px 9px;
  border-radius: 6px 0;
  line-height: 1.6;
  opacity: 0;
  transition: all 0.3s ease;
}
header .header_icon li span::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  border-top: 5px solid #3192bf;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: -5px;
}
header .header_icon li a:hover span {
  opacity: 1;
  top: -33px;
}
header .header_icon li a:hover {
  box-shadow: 0 0 0 3px rgba(75, 154, 191, 0.9) inset,
    0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

/* Nav */
.nav {
  display: none;
  overflow: hidden;
  padding: 25px 0;
}
.nav > div {
  float: left;
  width: 40%;
}
.nav > div:last-child {
  width: 20%;
}
.nav > div h2 {
  font-size: 18px;
  color: #25a2d0;
  font-weight: bold;
  margin-bottom: 4px;
}
.nav > div ol {
  overflow: hidden;
}
.nav > div ol li {
  position: relative;
  float: left;
  width: 50%;
  padding-left: 8px;
  box-sizing: border-box;
}
.nav > div ol li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #25a2d0;
}
.nav > div:last-child ol li {
  width: 100%;
}
.nav > div li a {
  position: relative;
}
.nav > div li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  background: #25a2d0;
  transition: all 0.2s ease-out;
  width: 0;
  height: 1px;
}
.nav > div li:hover a::after {
  width: 100%;
}

/* Title */
.title {
  position: relative;
  text-align: center;
}
.title h2 {
  font-family: "Nanum Brush Script", cursive;
  font-size: 39px;
  color: #0093bd;
  padding: 5px 0;
}
.title .btn {
  position: absolute;
  top: 5px;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #3192bf;
  border-radius: 50%;
  color: #fff;
  font-size: 35px;
  line-height: 55px;
}
.title .btn:hover {
  box-shadow: 0 0 0 3px rgba(71, 154, 191, 0.9) inset,
    0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

/* content */
.column {
  padding: 15px;
  border-bottom: 1px solid #dbdbdb;
}
.column .col_tit {
  font-size: 20px;
  color: #2f7fa6;
  padding-bottom: 5px;
}
.column .col_desc {
  color: #878787;
  line-height: 18px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #dbdbdb;
}

.col3 {
  border-bottom: 0;
}
.col6 {
  border-bottom: 0;
}
.col9 {
  border-bottom: 0;
}

/* Menu */
.menu ul {
}
.menu li {
  position: relative;
}
.menu li a {
  display: block;
  font-size: 16px;
  color: #878787;
  padding: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid #dbdbdb;
  transition: box-shadow 0.34s ease, background 0.34s ease;
}
.menu li a i {
  position: absolute;
  top: 15px;
  right: 10px;
}
.menu li a:hover {
  background: rgba(36, 130, 174, 0.9);
  color: #fff;
  box-shadow: 180px 0 0 0 rgba(36, 130, 174, 0.7) inset;
}

/* Notice */
.notice1 {
  position: relative;
}
.notice1 h5 {
  font-size: 14px;
  color: #2f7fa6;
  padding-bottom: 5px;
}
.notice1 li {
  position: relative;
  padding-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice1 li::before {
  position: absolute;
  top: 6px;
  left: 0;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #449ce2;
}
.notice1 .more_btn {
  position: absolute;
  top: 3px;
  right: 0;
  color: #878787;
  font-size: 10px;
  text-transform: uppercase;
}

/* Notice2 */
.notice2 {
  position: relative;
}
.notice2 h5 {
  font-size: 14px;
  color: #2f7fa6;
  padding-bottom: 5px;
}
.notice2 li {
  position: relative;
  padding-left: 8px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 40px;
}
.notice2 li::before {
  position: absolute;
  top: 6px;
  left: 0;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #449ce2;
}
.notice2 .more_btn {
  position: absolute;
  top: 3px;
  right: 0;
  color: #878787;
  font-size: 10px;
  text-transform: uppercase;
}

/* blog1 */
.blog1 img {
  width: 100%;
}
.blog1 .img-retina {
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx) {
  .blog1 .img-retina {
    display: initial;
  }
  .blog1 .img-normal {
    display: none;
  }
}

/* blog2 */
.blog2 .img-retina {
  background: url(../img/blog3_@1.jpg);
  background-size: cover;
}
.blog2 h5 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 30px;
}
.blog2 p {
  padding-top: 5px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 2dppx) {
  .blog2 .img-retina {
    background: url(../img/blog3_@2.jpg);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min-device-pixel-ratio: 3),
  only screen and (min-resolution: 3dppx) {
  .blog2 .img-retina {
    background: url(../img/blog3_@3.jpg);
  }
}

/* Image Slide */
.slider figure {
  position: relative;
}
.slider figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
}
.slider figcaption em {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  font-family: "Abel", sans-serif;
}
.slider figcaption span {
}
.slider .slick-dots {
  width: 100%;
  text-align: center;
}
.slider .slick-dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 5px;
}
.slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #5dbfeb;
  border-radius: 50%;
}
.slider .slick-dots li.slick-active button {
  background-color: #2b91c8;
}
.slider .slick-prev {
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  font: normal normal normal 14px/1 FontAwesome;
}
.slider .slick-prev::before {
  content: "\f053";
  color: #5dbfeb;
  text-indent: 0;
  position: absolute;
  top: 10px;
  left: 9px;
}
.slider .slick-next {
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  font: normal normal normal 14px/1 FontAwesome;
}
.slider .slick-next::before {
  content: "\f054";
  color: #5dbfeb;
  text-indent: 0;
  position: absolute;
  top: 10px;
  left: 14px;
}

/* Light Box */
.square a {
  position: relative;
  overflow: hidden;
  float: left;
  width: 19%;
  margin: 0.5%;
}
.square a img {
  display: block;
}
.square a em {
  position: absolute;
  left: 0;
  bottom: -30px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.77);
  color: #fff;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
}
.square a:hover em {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.57);
}
.square a:nth-child(1):hover img {
  filter: blur(2px);
}
.square a:nth-child(2):hover img {
  filter: brightness(50%);
}
.square a:nth-child(3):hover img {
  filter: contrast(10%);
}
.square a:nth-child(4):hover img {
  filter: grayscale(100%);
}
.square a:nth-child(5):hover img {
  filter: hue-rotate(120deg);
}
.square a:nth-child(6):hover img {
  filter: invert(100%);
}
.square a:nth-child(7):hover img {
  filter: opacity(10%);
}
.square a:nth-child(8):hover img {
  filter: saturate(10%);
}
.square a:nth-child(9):hover img {
  filter: sepia(120%);
}
.square a:nth-child(10):hover img {
  filter: sepia(120%) hue-rotate(120deg);
}

/* Video */
.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Effect1 */
.side1 {
  position: relative;
  perspective: 600px;
  display: block;
}
.side1 .front {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
}
.side1 .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: #fff;
  background-color: #4038dc;
  text-align: center;
  transform-style: preserve-3d;
  transform: rotateY(-180deg);
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
}
.side1 .back i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}
.side1:hover .front {
  transform: rotateY(180deg);
}
.side1:hover .back {
  transform: rotateY(0deg);
}

/* Effect2 */
.side2 {
  position: relative;
  display: block;
  perspective: 600px;
}
.side2 .front {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: all 0.5s ease-in-out;
}
.side2 .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: all 0.5s ease-in-out;
}
.side2 figcaption {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%) translateZ(100px);
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Abel", sans-serif;
  font-weight: bold;
  padding: 3px 10px;
}
.side2:hover .front {
  transform: rotateY(180deg);
}
.side2:hover .back {
  transform: rotateY(0deg);
  z-index: 1;
}

/* Effect3 */
.side3 {
  position: relative;
  overflow: hidden;
  background: #000;
}
.side3 figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease;
  transform: translate(350%, -50%) rotate(180deg);
  opacity: 0;
}
.side3 figcaption::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 100px;
  height: 100px;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.side3 h3 {
  font-size: 16px;
}
.side3 em {
  display: block;
  font-weight: bold;
}
.side3 img {
  display: block;
  transition: all 0.3s ease;
}
.side3:hover img {
  opacity: 0.4;
}
.side3:hover figcaption {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

/* Footer */
.footer {
  text-align: center;
  padding: 30px 50px;
}
.footer ul {
  overflow: hidden;
}
.footer li {
  padding: 0 7px 0 10px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.footer li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 1px;
  height: 12px;
  background-color: #dbdbdb;
}
.footer li:first-child::before {
  width: 0;
}
.footer address {
  padding-top: 15px;
}

/* Media Query */
@media (max-width: 1220px) {
  .container {
    width: 100%;
  }
  .row {
    padding: 0 15px;
  }
  .title .btn {
    right: 5px;
  }
  #content .container {
    border: 0;
  }
  .square a {
    width: 24%;
  }
  .square a:nth-child(5n) {
    display: none;
  }
}

@media (max-width: 1024px) {
  .square a {
    width: 32.3333%;
  }
  .square a:nth-child(5) {
    display: block;
  }
}

@media (max-width: 960px) {
  .nav > div {
    float: none;
    width: 100%;
  }
  .nav > div:last-child {
    width: 100%;
  }
  .nav > div ol li {
    width: 33.3333%;
  }
  .nav > div:last-child ol li {
    width: 33.3333%;
  }
  .nav > div ol {
    margin-bottom: 10px;
  }
  #cont_center {
    margin-right: 0;
    border-right: 0;
  }
  #cont_right {
    overflow: hidden;
    position: static;
    width: 100%;
    border-top: 1px solid #dbdbdb;
  }
  #cont_right .column {
    float: left;
    width: 33.3333%;
    box-sizing: border-box;
    border-right: 1px solid #dbdbdb;
    border-bottom: 0;
  }
  #cont_right .column.col9 {
    border-right: 0;
  }
}
@media (max-width: 768px) {
  #cont_left {
    float: none;
    width: 100%;
  }
  #cont_center {
    border-top: 1px solid #dbdbdb;
    border-left: 0;
  }
}
@media (max-width: 600px) {
  header {
    height: auto;
  }
  header .header_tit {
    display: none;
  }
  header .header_icon {
    display: none;
  }
  .nav > div ol li {
    width: 50%;
  }
  .nav > div:last-child ol li {
    width: 50%;
  }
  .title .btn {
    display: none;
  }
  .column.col1 {
    padding: 0;
    border-bottom: 0;
  }
  .column.col1 .col_tit {
    display: none;
  }
  .column.col1 .col_desc {
    display: none;
  }
  .menu ul {
    overflow: hidden;
  }
  .menu li {
    float: left;
    width: 33.3333%;
    border-right: 1px solid #dbdbdb;
    box-sizing: border-box;
    text-align: center;
  }
  .menu li:nth-child(3n) {
    border-right: 0;
  }
  .menu li a {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }
  .menu li a:hover {
    background: rgba(36, 130, 174, 0.3);
    box-shadow: none;
  }
  .menu li a i {
    display: none;
  }
  .column.col2 {
    background: #fff;
  }
  .square a {
    width: 49%;
  }
  .square a:nth-child(5) {
    display: none;
  }
  #cont_right .column {
    width: 50%;
  }
  #cont_right .column.col8 {
    border-right: 0;
  }
  #cont_right .column.col9 {
    display: none;
  }
}
@media (max-width: 320px) {
  .nav > div ol li {
    width: 100%;
  }
  .nav > div:last-child ol li {
    width: 100%;
  }
  .square a {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #cont_right .column {
    width: 100%;
  }
  #cont_right .column.col7 {
    border-right: 0;
    border-bottom: 1px solid #dbdbdb;
  }
}
